*{
    padding: 0;
    margin: 0;
}
.grid-container{
    display: grid;
    grid-template-areas: 
    'menu'
    'main'
    'footer';
    grid-template-rows: 100px calc(100vh - 200px) 100px;
}
.menu{
    grid-area: menu;
    
}
.menu-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    margin-left:10px;
    margin-right:10px
}
.logo{
    font-size: 2rem;
    font-weight: 900;
}
.main{
    grid-area: main;
    background-color: blueviolet;
    overflow-y: scroll;
}
.footer{
    grid-area: footer;
    background-color: brown;
    
}
@media(min-width: 576px){
    .grid-container{
        display: grid;
        grid-template-areas: 
        'menu main'
        'menu main'
        'footer footer';
        grid-template-columns: 150px calc(100vw - 150px);
        
       
    }

}
@media(min-width: 992px){
    .grid-container{
        display: grid;
        grid-template-areas: 
        'menu main main'
        'menu main main'
        'footer main main';
        grid-template-columns: 150px calc(100vw - 150px);
        
       
    }

}