*{
    padding: 0;
    margin: 0;
}
.grid-container{
    display: grid;
    grid-template-areas: 
    'menu'
    'main'
    'footer';
    grid-template-rows: 100px calc(100vh - 250px) 150px;
}
.menu{
    grid-area: menu;
    
}
.menu-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    margin-left:10px;
    margin-right:10px
}
.logo{
    font-size: 2rem;
    font-weight: 900;
}
.main{
    grid-area: main;
    overflow-y: scroll;
}
.main-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    background-color: rgba(8, 8, 7, 0.21);


}
.card{
    background-color: #fff;
    border: 1px solid white;
    border-radius: 20px;
    overflow: hidden;
    flex-basis: 50%;
    margin-top:10px;
    transition: filter .5s transform 0.3s ease-in;
    box-shadow:5px 5px 5px black;
}
.card:hover{
    filter: brightness(60%);
    transform: scale(1.1);
}
.card-head{
    display: flex;
    justify-content: center;
}
.card img{
    width: 100%;
}
.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.marca{
    color: gray;
}
.precio{
    color: red;
}
.card-foot{
    display: flex;
    justify-content: center;   
}
.footer{
    grid-area: footer;
    
}
.flex-footer{
    display: flex;
    justify-content: space-around;
}
.fredes{
    display: flex;
}
.ftitle{
    font-weight: bold;
}
.flist ul{
    list-style: none;
    
}
.navegacion{display: none;}

@media(min-width: 576px){
    .grid-container{
        display: grid;
        grid-template-areas: 
        'menu main'
        'menu main'
        'footer footer';
        grid-template-columns: 250px calc(100vw - 250px);
        
    }
    .barmenu{
        display: none;
    }
    .menu-flex{
        display: flex;
        flex-direction: column-reverse;
    }
    .card{
        flex-basis: 40%;
    }
    .navegacion{
        display: block;
    }
    .navegacion ul{
        display: flex;
        flex-direction: column;
        padding: 10px;
        align-items: center;
        list-style: none;
    }
    .navegacion ul li a{
        text-decoration: none;
        color:black;
        display:block;
        padding: 10px;
    }

}
@media(min-width: 992px){
    .grid-container{
        display: grid;
        grid-template-areas: 
        'menu main main'
        'menu main main'
        'footer footer footer';
        grid-template-columns: 250px calc(100vw - 250px);
    }
    .card{
        flex-basis: 20%;
    }

}